/* Hero */
.hero {
  background-image: url(../../img/plane.jpg);
  background-position: center;
  background-size: cover;
}

body {
  background-color: #BED7DC;
}

/* Footer */
footer {
  background-color: #31363F;
}

.btn {
  position: relative;
  left: 90%;
}